.container{
    width: 700px;
}

.tasks mat-card {
    margin-bottom: 10px;
  }

.task .title{
    grid-area: title;
}
.task .actions{
    grid-area: actions;
}

.task .deadline{
    grid-area: deadline;
}

.new-task{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    padding-bottom: 20px;
    align-items: baseline;
}

.new-task mat-form-field{
    margin-right: 10px;
}

.task.completed{
    background-color: rgb(191, 252, 191);
    color: rgb(179, 179, 179);
}