.title{
    margin-right: 20px;
}
.router-outlet{
    min-height: 400px;
    padding: 30px;
}
footer{
    display: flex;
    background-color: rgb(53, 138, 109);
    color: white;
    padding: 10px 10px;
    margin: -0.5%;
}