.container{
    width: 700px;
}
h2{
    font-size: xxx-large;
    margin-top: -15px;
}
.task{
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-areas: 'title deadline actions';
    padding: 10px;
}
.task .title{
    grid-area: title;
    font-size: x-large;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.task .actions{
    grid-area: actions;
}
.task .deadline{
    grid-area: deadline;
    font-size: x-large;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#title{
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    padding: 10px;
}
.delete-btn{
  background-color: rgb(139, 9, 0);
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
}
#deadline{
    padding: 10px;
}
.delete-btn:hover,
.delete-btn:focus {
  background-color: rgb(90, 8, 8);
}